*{
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

.container{
    width: 100%;
    height: 100vh;
    background-image: url("BG IMAGE/bg4.webp");
    background-position: center;
    background-size: cover;
    padding: 0 7%; 
    color: #ffffff;

}
nav{
    width: 100%;
    padding: 20px 0;
    display: flex;
    align-items: center;
}
.logo{
    width: 120px;
    cursor: pointer;  
}
nav ul{
    flex: 1;
}
nav ul li{
    display: inline-block;
    margin: 10px 20px;
}
nav ul li a{
    font-size: 20px;
    color: #fff;
    text-decoration: none;
}
nav ul li a:hover{
    color: #ff960b;
}
nav .btn{
    color: #000000;
    background: #ff960b;
    text-decoration: none;
    border: 1px solid #000000;
    padding: 10px 30px;
    border-radius: 20px;
}

.content{
    margin-top: 12%;
}
.content h1{
    font-size: 82px;
    margin-bottom: 15px;
}
.content h1 span{
    color: #ff960b;
}
.content p{
    line-height: 22px;
    font-size: 16px;
}
.content .btn{
    display: inline-block;
    margin-top: 30px;
    background: #ff960b;
    color: #fff;
    text-decoration: none;
    padding: 15px 30px;
    border-radius: 30px; 
}
@media screen and (max-width: 600px){
    .content h1{
        font-size: 50px;
        line-height: 60px;
        top: 50%;

    }
    .content h1 span{
        font-size: 50px;
        line-height: 50px;
        color: black;

    }
    .content p{
        line-height: 20px;
    }
    .content .btn{
        font-size: 15px;
        line-height: 10px;
        font-display: 12px;
    }
    nav .btn{
        font-size: 10px;
        border-radius: 17px;
    }
    .logo{
        width: 80px;
        position: relative;
        border-top-left-radius: 0%;
    }
    nav ul li a{
        font-size: 15px;
        position: relative;
    }
    .container{
        background-image: url("BG IMAGE/bg4.webp");
        background-position: center;
        background-size: cover;
        padding: 0 7%; 
        color: #ffffff;
    }
 }
@media screen and (max-width: 600px){
    .nav ul li a{
    position: relative;
    top: 80%;
    width: 250px;
    height: 60vh;
    background: lightskyblue;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 50px 20px;
    }
}
@media screen and (max-width: 1000px) and (min-width: 600px){
    .content h1{
        font-size: 80px;
        line-height: 50px;
        top: 50%;
        color: black;

    }
    .content h1 span{
        font-size: 70px;
        line-height: 80px;
        color: whitesmoke;

    }
    .content p{
        line-height: 20px;
    }
    .content .btn{
        font-size: 15px;
        line-height: 10px;
        font-display: 12px;
    }
    nav .btn{
        font-size: 10px;
        border-radius: 17px;
        color: black;
    }
    .logo{
        width: 80px;
        position: relative;
        border-top-left-radius: 0%;
    }
    nav ul li a{
        font-size: 15px;
        position: relative;
    }
    .container{
        background-image: url("BG IMAGE/bg4.webp");
        background-position: center;
        background-size: cover;
        padding: 0 7%; 
        color: #ffffff;
    }
 }
@media screen and (max-width: 1200px) and (min-width: 600px){
    .nav ul li a{
    position: relative;
    top: 80%;
    width: 250px;
    height: 60vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 50px 20px;
    color: black;
    }
}
